header {
    color: lemonchiffon;
    background-color: black;
    width: 50%;
}
main {
    background-color: honeydew;
    font-size: 24px;
    width: 70%;
}
body {
    background-image: url('https://codehs.com/images/lightbulb');
}