#max-altitude .meter{
    background-color:#a2662a;
}



th{
    background-color: SteelBlue;
    color:white;
}

#horizontal-distance .meter {
    background-color: seagreen;
}
#horizontal-distance .feet {
    background-color: mediumaquamarine;
}
#max-altitude .feet {
    background-color: peru;
}