h3 {
    text-transform: uppercase;
}
p {
    font-family: Arial;
    text-align: right;
}
body {
    background-image:url("https://tommustbe12.com/assets/pictures/server.jpg");
    background-size: cover;
}
a {
    font-size: 16px;
    font-style: italic;
}
iframe {
    width: 100%;
}
header {
    border-style: solid;
    background-color: rgb(211, 244, 211);
}
main {
    background-color: rgb(211, 244, 211);
    height: 80%;
    width: 70%;
    margin: 15px;
    padding: 10px;
}
footer {
    background-color: rgb(211, 244, 211);
    margin: 50px;
    padding: 10px;
}
.job-title {
    font-weight: bold;
    color: maroon;
}