h3 {
    text-transform: uppercase;
}
p {
    font-family: Arial;
    text-align: right;
}
body {
    background-image:url("https://tommustbe12.com/assets/pictures/server.jpg");
    background-size: cover;
}
a {
    font-size: 16px;
    font-style: italic;
}
iframe {
    width: 100%;
}
.header {
    border-style: solid;
    background-color: rgb(211, 244, 211);
}
.content {
    background-color: rgb(211, 244, 211);
    height: 80%;
    width: 70%;
}
.footer {
    background-color: rgb(211, 244, 211);
}
.job-title {
    font-weight: bold;
    color: maroon;
}
